body {
    font-family: 'Roboto';
    background: #151515;
}

* {
    margin: 0;
    padding: 0;
}

.text {
    position: absolute;
    left: 160px;
    color: #fbd5ca;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}

.text-blink {
    animation: blink .7s ease-in-out .1s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.percent {
    color: #999;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}